<div class="col-lg-12 " id="container" >
    <img src="../../../assets/image/APLogo-20-20.png" id="logoap">
    <div class="redes">
        <a href=""><img src="../../../assets/image/instagram.png" id="instagram"></a>
        <a href=""><img src="../../../assets/image/facebook.png" id="facebook"></a>
        <div class="button">
            <button type="button" class="btn btn-succes" (click)="login()" *ngIf="!isLogged">INGRESO</button>
        <button type="button" class="btn btn-outline success" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>


