<div class="row"*ngIf="persona" >
   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src={{persona.img}} class="img-fluid" id="fotoperfil">
</div>
<div class="col-xs-12 col-sm2 col-md-2 col-lg-2">
    <h3><p><strong>{{persona.nombre}} {{persona.apellido}}</strong></p></h3>
    <h4><p><strong>Full Stack Devolper jr</strong></p></h4>
</div>
<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 " id="descripcion">
    <span>
        <h1>Acerca de mí</h1>
        <p>{{persona.descripcion}}</p>
    </span>
    </div> 
    <div >
        <div>
            <button type="button" class="btn btn-success" routerLink="/editacerca/1" *ngIf="isLogged" id="button">
                Editar Persona
            </button>
        </div>
</div>
